body {
    font-family: sans-serif;
    margin-top: 75px;
    background-color:teal;
    
}
.heading {
padding-left: 25px;
}

.center {
    text-align:center;
    color: black;
   }

.text-big {
    font-size: 300%;
    color:black;
}

.bold {
    font-weight: bold;
}

.img {
    
  width:100px;
  height:100px;
  
}
.container{
    margin: 0 auto;
    color: black;
    font-family: serif;
    padding-left: 200px;
    padding-right: 200px;
}
.textarea {
   max-width: 300px;
    max-height: 150px;
    resize: horizontal;
    overflow: auto;
    border-style: solid;
}
.loginarea{
    position:absolute;
    right:0px;
    top:20px;
}



