body {
    font-family: sans-serif;
    margin-top: 75px;
    background-color:teal;
    
}
h3{
text-align:center;
}

.center {
    text-align: center;
    color: black;
   }

.text-big {
    font-size: 300%;
    color:black;
}

.bold {
    font-weight: bold;
}

.img-medium {
    
  width:100px;
  height:100px;
  
}
.container{
    margin: 0 auto;
    color: black;
    font-family: serif;
    
    padding-left: 200px;
    padding-right: 200px;
}
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    padding: 20px; 
    width: 700px;
    resize: horizontal;
    overflow: auto;
}
